global
    log stdout format raw local0

defaults
    mode tcp
    log global
    timeout connect 5s
    timeout client 60s
    timeout server 60s

resolvers docker
    nameserver dns 127.0.0.11:53
    hold valid 10s

frontend public
    bind :84
    tcp-request inspect-delay 5s
    tcp-request content accept if { req.ssl_hello_type 1 }
    tcp-request content accept if HTTP
    use_backend tls if { req.ssl_hello_type 1 }
    default_backend plain

backend tls
    server frontend frontend:443 check resolvers docker init-addr libc,none

backend plain
    server frontend frontend:80 check resolvers docker init-addr libc,none
